<div class="container">
<!-- Tabla -->
<h5 class="display-6 text-center">Lista De Tareas</h5>

<div class="align-items-center table-responsive">
  <table class="table mt-5 table-striped table-hover">
    <thead class="table-dark text-center">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody  class="text-center" *ngFor="let tarea of tareas">
      <tr>
        <th scope="row">{{ tarea.id }}</th>
        <td>{{ tarea.title }}</td>
        <td>{{ tarea.description }}</td>
        <td>
          <!-- [routerLink]="'[/form/edit, tarea.id]'" -->
          <!-- (click)="editarTarea(tarea.id)" -->
          <button [routerLink]="['/form/edit', tarea.id ]" type="button" class="btn btn-outline-success mx-2">Editar</button>
          <button type="button" class="btn btn-outline-danger" (click)="borrarTarea(tarea.id)">Borrar</button>


        </td>
      </tr>

    </tbody>
  </table>
</div>
<!-- FIN Contenedor Black-->
</div>